* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0e0e0e;
    color: white;
}

header {
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    color: gold;
    letter-spacing: 2px;
}

nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: gold;
}


.hero {
    height: 100vh;
    background: linear-gradient(135deg, #000, #1a1a1a);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}

.hero h2 {
    font-size: 50px;
    max-width: 600px;
}

.hero p {
    margin: 20px 0;
    color: #ccc;
}

.hero button {
    width: 200px;
    padding: 15px;
    font-weight: bold;
    background: gold;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    background: white;
    transform: scale(1.05);
}


.menu {
    padding: 120px 60px;
    background: #111;
    text-align: center;
}

.menu h2 {
    font-size: 40px;
    margin-bottom: 40px;
    color: gold;
}

.productos {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    background: #1b1b1b;
    padding: 30px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255,215,0,0.2);
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 40px gold;
}

.card h3 {
    margin-bottom: 10px;
    color: gold;
}

.card span {
    display: block;
    margin-top: 15px;
    font-size: 22px;
}


.contacto {
    padding: 80px;
    background: black;
    text-align: center;
}

.contacto h2 {
    color: gold;
    margin-bottom: 20px;
}

footer {
    padding: 20px;
    background: #000;
    text-align: center;
    font-size: 14px;
    color: #888;
}
